@model Blog.Application.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to our blog</h1>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Category")
    </div>
    <div class="col-md-8">
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-4">
                <h2 style="padding:10px;">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" 
                       style="text-decoration:none;color:black;">
                        @post.Title
                    </a>
                </h2>
                <div class="card-body">@post.ShortContent</div>
                <hr />
                <div style="display:flex; justify-content:space-between;padding:10px 30px;">
                    <div>
                        Likes: @post.NumLikes
                    </div>
                    <div>
                        Comments: @post.NumComments
                    </div>
                    <div>
                        Created: @post.Created.ToString("yyyy-MM-dd")
                    </div>
                </div>
            </div>
        }
    </div>
</div>