@model Blog.Application.ViewModels.Category.CategoryIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">@Model.Name</h1>

<hr />

<div class="col-md-12">
    @foreach (var post in Model.Posts)
    {
        <div class="card">
            <div class="card-header">@post.Title</div>
            <div class="card-body">@post.ShortContent</div>
            <div class="card-footer">
                <div>
                    Likes: @post.NumLikes
                </div>
                <div>
                    Comments: @post.NumComments
                </div>
                <div>
                    Created: @post.Created.ToString("yyyy-MM-dd")
                </div>
            </div>
        </div>
    }
</div>

@await Component.InvokeAsync("Category")
